#Rule for Harddisk
KERNEL=="sd?1", ACTION=="add", SUBSYSTEMS=="scsi", ATTRS{vendor}=="Intenso ", ATTRS{model}=="External USB 3.0", RUN+="/root/backup_mobil.sh %k"